html{
    scroll-behavior: smooth;
    
      direction: rtl;

}
/* start variables */
:root{
    --main-color:#10cab7;
    --color-2:#2c4755;
    --color-background:#f6f6f6;
    --section-padding:60px;
}


/* end variables */
/* srart components */

.special-heading{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0px;
}
.special-heading + p{
    margin: -30px 0px 0px;
    font-size: 20px;
    text-align: center;
    color: #79797977;
}
@media(max-width:767px){
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p{
        margin-top: -20px;
    }
}
/* end components */
*{
-webkit-box-sizing:border-box ;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
/* start globel value */
.container{
    padding-left:70px;
    padding-right: 70px;
    margin-left: auto;
    margin-right: auto;
}
/* smaal media */
@media(min-width:768px){
    .container{
        width: 750px;
    }
}
/* medium */
@media(min-width:992px){
    .container{
        width: 790px;
    }
}
/* large */
@media(min-width:1200px){
    .container{
        width:1170px ;
    }
}
/*************************************************/
h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
  }
  
  h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
  }
  
  h4 {
    font-size: 20px;
    color: #222;
  }
  
  h6 {
    font-weight: 700;
    font-size: 12px;
  }
  
  p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
  }
  
  .section-p1 {
    padding: 40px 80px;
  }
  
  .section-m1 {
    margin: 40px 0;
  }
  button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
  button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
  
  body {
    width: 100%;
    scroll-behavior: smooth;
  }
/* end globel rule */


/* start header */
.header{
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: #fffffff9;
    opacity: 0.9;
    box-shadow:2px 2px 12px 5px #0000005c;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width:90px;
}
.header .links{
    position: relative;
}
.header .links .icon{
    width: 30px;
    display:flex ;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;
}
.header .links .icon span{
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icon span:first-child{
    width: 100%;
}
.header .links .icon span:nth-child(2){
    width: 50%;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.header .links .icon span:last-child{
    width: 100%;
}
.header .links ul{
    margin: 0px;
    padding: 0px;
    background-color: #F6f6f6;
    list-style: none;
    position: absolute;
    right: 0px;
    min-width: 200px;
    top: calc(100%+15px);
    display: none;
    z-index: 1;
    }
    .header .links ul::before{
        content: "";
        position: absolute;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #F6f6f6 transparent;
        top: -10px;
        right:2px ;
    }
    .header .links:hover ul{
        display: block;
    }
    .header .links ul li a{
        padding: 15px;
        color: #333;
        display: block;
        text-decoration: none;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
    }
    .header .links ul li a:hover{
        padding-left: 28px;
    }
    .header .links ul li:not(:last-child) a {
        border-bottom:1px solid #333 ;
    } 

/* end header */
/* start upper */
#upper{
    background-image: url("../img/upperback.jpg");
    background-position: top 25% right 0;
    background-size: cover;
    height: calc(100vh - 134px);
    width: 100%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  #upper h1{
    color: crimson;
  }

/* end upper */

/* start feature */
#feature{
   text-align: center;
}
#feature .pre-container{
  display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 30px;
  }
  #feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 3px 1px 1px 0px rgba(0, 0, 0, 0.06);
    border: 1px solid #cce7d0;
    border-radius: 4px ;
    -webkit-border-radius: 4px ;
    -moz-border-radius: 4px ;
    -ms-border-radius: 4px ;
    -o-border-radius: 4px ;
    margin: 15px 0;
  }
  #feature .fe-box img{
    width: 100px ;
    margin-bottom:10px ;
  } 
  #feature .fe-box:hover{
    box-shadow:10px 10px 54px rgba(0, 0, 0, 0.09) ;
    cursor: pointer;
  }
  #feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    font-size: 17px;
    background-color: #da7f35;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
  #feature .fe-box:nth-child(2) h6{
    background-color: #eabceb;
  }
  #feature .fe-box:nth-child(3) h6{
    background-color: #cdebbc;
  }
  #feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
  }
  #feature .fe-box:nth-child(5) h6{
    background-color: #e9bc8f;
  }
  #feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
  }
/* end feature */

/* start services */
#services{
    text-align: center;
    }
    #services .pro-container{
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      flex-wrap: wrap;
    }
    #services .pro{
      position: relative;
      width: 45%;
      min-width: 300px;
      padding: 10px 12px;
      border: 1px solid #cce7d0;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
      cursor: pointer;
      box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
      margin: 15px 0;
    }
    #services .pro:hover{
      box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
    
    }
    #services .pro img{
      width: 32%;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
    }
    #services .pro .des{
      text-align: start;
      padding:10px 0 ;
    }
    #services .pro .des span{
      color: #222;
      font-size: 25px;
      font-weight: bold;
    
    }
    #services .pro .des p{
      font-size: 25px;
    }



/* end services*/

/* start banner */
/* #banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../imgs/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
  }
  #banner h4{
    color: #fff;
    font-size: 16px;
  }
  #banner h2{
    color:#fff;
    font-size: 16px;
    padding: 10px 0;
  }
  #banner h2 span{
    color: #ef3636;
    font-size: 24px;
  }
  #banner button:hover{
    background-color: #088178;
    color: #fff;
  
  } */

/* end banner */
/* start about-us */
#abou-us{
    text-align: center;
    }
    #abou-us .pro-container{
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      flex-wrap: wrap;
    }
    #abou-us .text1{
      text-align: right;
      font-size: 25px;
    }
    mark{
      background-color: rgb(189, 159, 118);
      font-size: 27 ;
      font-weight: bold;
      font-style: italic;

    }
    #abou-us .pro{
      position: relative;
      width: 23%;
      min-width: 250px;
      padding: 10px 12px;
      border: 1px solid #cce7d0;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
      cursor: pointer;
      box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
      margin: 15px 0;
    }
    #abou-us .pro:hover{
      box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
    
    }
    #abou-us .pro img{
      width: 100%;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
    }
    #abou-us .pro .des{
      text-align: start;
      padding:10px 0 ;
    }
    #abou-us .pro .des span{
      color: #222;
      font-size: 20px;
    
    }
    #abou-us .pro .des h5{
      padding-top: 7px ;
      color: #1a1a1a;
      font-size: 14px;
    }
    #abou-us .pro .des i{
      font-size: 12px;
       color: rgba(243, 181, 25);
    }
    #abou-us .pro .des h4{
      padding-top: 7px;
      font-size: 15px;
      font-weight: 700;
      color: #088178;
    }
    #abou-us .pro .cart{
      width: 40px;
      height: 40px;
      line-height:40px;
      border-radius: 50px;
      background-color: #e8f6ea;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
      border: 1px solid #cce7d0;
      position: absolute;
      right: 10px;
      bottom: 20px;
    }

/* about-us */
/*start sm-banner */
/* #sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("../imgs/banner/b17.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px ;
  }
  #sm-banner .banner-box2{
    background-image: url("../imgs/banner/b10.jpg");
  }
  #sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
  }
  #sm-banner h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
  }
  #sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom:15px ;
  }
  #sm-banner .banner-box:hover button{
    background-color: #088178;
    border: 1px solid #088178;
  } */
  
  /* end sm banner */

  /* # start banner3 */
/* #banner3{
    display: flex;
    justify-content:space-between ;
    flex-wrap: wrap;
    padding: 0 80px ;
  }
  #banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("../imgs/banner/b7.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px ;
    border-radius: 10px;
    box-shadow: 0px 1px 5px -1px #0f0f0f;
  }
  #banner3 .banner-box2{
    background-image: url("../imgs/banner/b4.jpg");
  
  }
  #banner3 .banner-box3{
    background-image: url("../imgs/banner/b18.jpg");
  
  }
  #banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
  }
  #banner3 h3{
    color: #ef3636;
    font-weight: 800;
    font-size: 15px;
  } */
  /* end banner3 */


  /* start contact */
.contact{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #f6f6f6;
}
.contact .info{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}
.contact .info .label{
    font-size: 35px;
    font-weight: 800;
    color: var(--color-2);
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .info .link{
    display: block;
    font-size: 35px;
    font-weight: 800;
    color:crimson;
    text-decoration: none;
}
.contact .info .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 18px;
}
.contact .info .social i {
    margin-left: 10px;
    color: var(--color-2);
}
@media (max-width:767px){
    .contact .info .label,
    .contact .info .link{
        font-size: 30px;
    }
    .contact .info .social .fa-linkedin{
      color: #1405df;
      font-size: 24px;
      margin: 0px 10px;
    }
    .contact .info .social .fa-facebook-f{
      color: #0000ffba;
      font-size: 24px;
      margin: 0px 10px;
    }
    .contact .info .social .fa-square-github{
      color: darkslategrey;
      font-size: 24px;
      margin: 0px 10px;
    }
  }
/* end contact */






  /* start footer */
.footer {
    background-color: #ffffff94;
    color: black;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
  }
  /* end footer */
  /* query  */
  @media (max-width:799px){
    .section-p1{
        padding: 40px 40px ;
    }
    #upper {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #feature{
        justify-content: center;
    }
    #feature .fe-box{
        margin: 15px 15px ;
    }
    #services .pro-container {
        justify-content: center;
    }
    #abou-us .pro-container {
        justify-content: center;
    }
    #services .pro{
        margin: 15px;
    }
    #abou-us .pro{
        margin: 15px;
    }
    #banner{
        height:20vh ;
        position: relative;
    }
    #banner button{
        position: absolute;
        bottom: 5px;
    }
    #sm-banner .banner-box{
        min-width: 100%;
        height: 30vh;
        margin-bottom: 10px;
    }
    #banner3{
        padding: 0 40px;
    }
    #banner3 .banner-box{
        width: 28%;
    }
  }

  @media (max-width:477px){
    .section-p1{
        padding: 20px;
    }
    h1{
        font-size: 38px;
    }
    h2{
        font-size: 32px;
    }
    #hero{
        padding: 0 20px ;
        background-position: 55%;
    }
    #hero p{
      color: #000;
      
    }
    #feature{
        justify-content: space-between;
    }
    #feature .fe-box{
        width: 155px;
        margin: 0 0 15px 0;
    }
    #product1 .pro{
        width: 100%;
    }
    #banner{
    height: 40vh;
    }
#sm-banner .banner-box{
    height: 40vh;
}
#sm-banner .banner-box2{
    margin-top: 20px;
}
#banner3{
    padding: 0 20px;
}
#banner3 .banner-box{
    width: 100%;
}


  }